@model IEnumerable<PexIM.Models.Imobiliarias>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Excluido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodImobiliariaApi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Excluido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodImobiliariaApi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodImobiliaria">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodImobiliaria">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodImobiliaria">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
